// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.following {
    display: inline-block;
    width: 70%;
    padding: 5px 10px;
    margin: 10px;
}