<footer class="footer">
  <small>
  PhotoMeet Copyrights all reserved. 
  </small>
  <nav>
    <ul>
      <li><%= link_to "プライバシーポリシー", about_path %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
    </ul>
  </nav>
</footer>